* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    max-width: 100vw;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.first{
    width: 100%;
    height: 100vh;
    position: relative;
}

.first::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 350px; 
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    
    z-index: 2; 
    
    pointer-events: none; 
}

.first video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

nav{
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 10;
    position: absolute;

    margin-top: 15px;
}

nav button{
    font-family: 'Helvetica', sans-serif;
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    letter-spacing: 1.5px;
}

nav h2{
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.content{
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.desc{
    width: 60%;
    text-align: center;
}

.desc button{
    margin-top: 35px;

    width: 170px;
    height: 40px;
}

.sep{
    width: 80%;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

