* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    max-width: 100vw;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}